@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');
@font-face {
    font-family: "Raleway";
    src: url("../Raleway-VariableFont_wght.ttf") format('truetype');
}
body {
    background-color: #2F3136;
    color: #D2D3D4;
}

.main .top-row a:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
}

.content {
    padding-top: 1.1rem;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

.titlebar {
    font-size: 11px;
    padding-left: 5px;
    padding-top: 4px;
    width: 100%;
    height: 21px;
    background-color: #1E1E1E;
    color: white;
    -webkit-user-select: none;
    -webkit-app-region: drag;
}

.titlebar-button {
    -webkit-app-region: no-drag;
}

.mdc-button:focus{
    outline: none;
}

#search-wrapper{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 15px;
}

#search-box{
    
}

#emoji-wrapper {
    display: flex;
}

#left {
    flex: 0 0 10%;
    background-color: #1b1e21;
}

#right {
    flex: 1;
    background-color: #00c853;
}