@page "/"
@using emojipad.Services
<div id="search-wrapper">
    <MBTextField style="height: 40px; width: 100%" value="@SearchQuery" @oninput="OnUpdate" 
                 Label="Search for your emoji!" TextInputStyle="MBTextInputStyle.Outlined" TrailingIcon="search"/>
</div>

<div id="emoji-wrapper">
    <div id="left">Left side div</div>
    <div id="right">Right side div</div>
</div>

@code{
    [Inject]  
    public ClipboardService Service { get; set; }

    public string SearchQuery
    {
        get { return query; }
        set { query = value; }
    }

    private string query = "";
    
    public Task OnClick()
    {
        return Service.CopyClipboard("C:\\Users\\Asmcx15\\Downloads\\688079989974892556.png").AsTask();
    }

    private void OnUpdate(ChangeEventArgs obj)
    {
        query = obj.Value.ToString();
        Console.WriteLine(query);
    }
}

