@using emojipad.Services
@using ElectronNET.API
@using System.Windows.Forms
@using MouseEventArgs = Microsoft.AspNetCore.Components.Web.MouseEventArgs
<div id="side-bar">
    <div title="Discard Changes">
        <MatIcon Class="side-bar-button side-bar-float" Icon="cancel" @onclick="CancelClicked"></MatIcon>
    </div>
    <div title="Save and Restart EmojiPad">
        <MatIcon Class="side-bar-button side-bar-float" Icon="save" @onclick="SaveClicked"></MatIcon>
    </div>
</div>

@code {
    [Inject]
    public EventService EventService { get; set; }
    [Inject]
    public NavigationManager Navigation { get; set; }

    private void CancelClicked(MouseEventArgs obj)
    {
        Navigation.NavigateTo("/");
    }

    private void SaveClicked(MouseEventArgs obj)
    {
        EventService.SaveConfig();
        Navigation.NavigateTo("/");
        Electron.App.Relaunch();
        Electron.App.Exit();
    }
}